.mycontainer {	
  padding: 2% 2% 2% 6%;
  font-family: Verdana, sans-serif;
} 

* {
  word-break: keep-all;
}
/* 줄을 바꿀 때 단어를 끊지 않게 한다. */

@media screen and (max-width: 1000px) {
  body {
    padding: 1em;
  }

  .accordion {
    width: 100%;
  }
  
}

@media(max-width:580px){
  .menu-title{
    font-size: 1.5em;
  }
}


  .menu-title {
    display: inline-block;
    margin-top: 3vh;
    margin-bottom: 5vh;
  }


  .adeco {
    color: gray;
    text-decoration: underline !important;
  }

  .adeco:visited {
    color: gray;
  }

  .adeco:hover {
    color: #353535;
  }

  /* 아코디언 (자주 묻는 질문) */
  .accordion {
    font-size: 1rem;
    width: 80vw;
    margin: 0 auto;
    border-radius: 5px;
  }

  .accordion-header,
  .accordion-body {
    background: white;
  }

  .accordion-header {
    padding: 1.5em 1.5em;
    background: white;
    color: #484848;
    cursor: pointer;
    font-size: 0.9em;
    font-weight: bold;
    letter-spacing: 0.1em;
    transition: all 0.3s;
    text-transform: uppercase;
  }

  .accordion__item {
    border-bottom: 1px solid #484848;
  }

  .accordion__item .accordion__item {
    border-bottom: 1px solid rgba(0, 0, 0, 0.08);
  }

  .accordion-header:hover {
    background: inherit;
    text-decoration: underline;
    color: black;
    position: relative;
    z-index: 5;
  }

  .accordion-body {
    background: #fcfcfc;
    color: #353535;
    display: none;
  }

  .accordion-body__contents {
    padding: 1.5em 1.5em;
    font-size: 0.85em;
  }

  .accordion__item.active:last-child .accordion-header {
    border-radius: none;
  }

  .accordion:first-child > .accordion__item > .accordion-header {
    border-bottom: 1px solid transparent;
  }

  .accordion__item > .accordion-header:after {
    content: "\f3d0";
    font-family: IonIcons;
    font-size: 1.2em;
    float: right;
    position: relative;
    top: -2px;
    transition: 0.3s all;
    transform: rotate(0deg);
  }

  .accordion__item.active > .accordion-header:after {
    transform: rotate(-180deg);
  }

  /* .accordion__item.active .accordion-header {
  text-shadow: #484848;
}  */

  /* .accordion__item .accordion__item .accordion-header {
  background: #f1f1f1;
  color: #353535;
} */

