* {
  word-break: keep-all;
}
/* 줄을 바꿀 때 단어를 끊지 않게 한다. */

.menu-title {
  margin-bottom: 3vw;
}

.mycontainer {
  padding: 2% 6% 2% 6%;
  font-family: Verdana, sans-serif;
}


/* 글자 크기 설정 */

.main_title{
 font-size: 2rem;
 font-family: Verdana, sans-serif;
}

.menu-title{
 font-size: 1.7rem;	
 font-family: Verdana, sans-serif;
}

@media (max-width: 580px) {
   .main-title{
   font-size: 1.7em;
   }
   
   .menu-title{
    font-size: 1.3em;
  }
  
  .my_p {
  	margin-top: 2vw !important;
  	margin-bottom: 3vw !important;
  }
}

.menu-title {
  margin-bottom: 3vw;
}

.menu-title, .main-title{
  font-weight: bold;
  display: inline-block;
  margin-top: 3vh;
  margin-bottom: 5vh;
}

.my_p {
  color: #48484E;	
  padding: 0;
  display: block;
  font-size: 0.9rem;
  width: 90%;
  line-height: 26px;
}

@media (max-width: 885px) {
  .my_p {
    width: 90%;
  }
}

