@media (max-width: 500) {
  body {
    padding: 2%;
  }
}

* {
  word-break: keep-all;
}
/* 줄을 바꿀 때 단어를 끊지 않게 한다. */
.mycontainer {
  padding: 2% 6% 2% 6%;
  font-family: Verdana, sans-serif;
}

.main_title{
 font-size: 2rem;
 font-family: Verdana, sans-serif;
}

.menu-title{
 font-size: 1.7rem;	
 font-family: Verdana, sans-serif;
}

@media (max-width: 580px) {
   .main-title{
   font-size: 1.7em;
   }
   
   .menu-title{
    font-size: 1.3em;
  }
  
  .my_h2{
  font-size: 1.1em;
  }
}


.menu-title, .main-title{
  font-weight: bold;
  display: inline-block;
  margin-top: 3vh;
  margin-bottom: 5vh;
}


a {
  text-decoration: none;
}

.my_p {
  display: block;
  font-size: 0.9rem;
  width: 70%;
  line-height: 26px;
  padding: 0 !important;
}

@media (max-width: 885px) {
  .my_p {
    width: 90%;
  }
}

.my_btn {
  color: black;
  font-weight: bold;
  padding: 0.5rem 1rem;
  font-size: 0.75rem;
  border-radius: 30px;
  border: 1px solid lightgray;
}

.my_btn:hover {
  border: 1px solid black;
  border-radius: 30px;
  text-decoration: none;
}

.my_btn_black {
  display: inline-block;
  font-weight: bold;
  padding: 0.7rem 1.3rem;
  font-size: 0.75rem;
  border-radius: 30px;
  border: black;
  background-color: black;
  color: white !important;
}

.my_btn_black:hover {
  opacity: 0.8;
  text-decoration: none;
}

.flex_box {
  width: 100%;
  display: flex;
  margin-bottom: 5%;
  flex-wrap: wrap;
}

.flex_item {
  width: 50%;
  margin-top: 2%;
}

.my_img {
  width: 40vw;
  margin-top: 2vw;
  overflow: hidden;
}

@media (max-width: 640px) {
  .my_img {
    width: 90vw;
    position: relative;
    left: -30px;
  }
  .flex_item {
    width: 100%;
  }
 .wrapper{
 margin: auto;
 }
}
